/* CSS reset */
html {
	scroll-behavior: smooth;
	box-sizing: border-box;
	scrollbar-gutter: stable;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

// Use where to remove specificity
:where(body, h1, h2, h3, h4, h5, h6, p, a, ol, ul, button) {
	margin: 0;
	padding: 0;
	font-weight: inherit;
	font-size: inherit;
	font-family: inherit;
	color: currentColor;
}

// Use where to remove specificity
:where(ol, ul) {
	list-style-type: none;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	font-style: italic;
}

/* General styles */
:root {
	// Colours
	--black: hsl(231, 23%, 12%);
	--black-hover: hsl(231, 23%, 27%);
	--white: hsl(0, 0%, 98%);
	--white-hover: hsl(0, 0%, 83%);
	--sky-blue: hsl(212, 97%, 85%);
	--yellow-1: hsl(52, 98%, 78%);
	--yellow-2: hsl(52, 98%, 48%);
	--yellow-3: hsl(52, 100%, 50%);
	--blue: hsl(223, 100%, 33%);
	--red: hsl(349, 100%, 43%);
	--purple: hsl(259, 79%, 50%);

	// Svg colors
	--cloud: hsl(0, 0%, 98%);
	--cloud-dark: hsl(231, 23%, 42%);

	//Spotify colours
	--spotify-green: hsl(141, 76%, 48%);
	--progress: var(--white);
	--timeline: hsl(0, 0%, 37%);

	// Display
	--border-radius: 0.67rem;
	--page-width: min(100vw - 1rem, 80rem);

	// Animation
	--transition: cubic-bezier(0.22, 0.61, 0.36, 1);
	--duration: 300ms;
	--rm-translation: 70%;
}

:root {
	// Light theme settings
	--background: var(--sky-blue);
	--inverse: var(--white);
	--hover: var(--white-hover);
	--text: var(--black);
	--hover-inverse: var(--black-hover);
	--outline: var(--red);
	--card: var(--white);
}

:root[data-theme='dark'] {
	// Dark theme settings
	--background: var(--black);
	--inverse: var(--black);
	--text: var(--white);
	--hover: var(--black-hover);
	--hover-inverse: var(--white-hover);
	--outline: var(--red);
	--card: var(--black-hover);
}

body {
	font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
		Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	line-height: 1.5;
	text-rendering: optimizeSpeed;

	color: var(--text);
	background-color: var(--background);
	overflow-x: hidden;
}

body::before {
	content: '';
	position: fixed;
	inset: -4rem -2.5rem auto;
	height: 10rem;
	filter: blur(1rem);
	box-shadow: inset 0rem 0rem 25rem 5rem var(--background);
	z-index: 1;

	contain: content;
}

body > div {
	min-height: 100vh;
	min-height: 100svh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	overflow-x: clip;
}

main {
	width: var(--page-width);
	margin-inline: auto;
	font-size: clamp(1.125rem, 3.5vw, 1.375rem);
	margin-top: 1rem;
}

button {
	cursor: pointer;
}

:focus {
	outline: none;
}

:focus-visible {
	outline: 0.15em solid var(--outline);
	outline-offset: 0.15em;
}

a:focus-visible {
	border-radius: calc(0.5 * var(--border-radius));
}

.error {
	color: var(--red);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

// Use where to remove specificity
:where(.prose) {
	> :not(h1, h2, h3, div) + * {
		margin-top: 0.75em;
	}

	> h1,
	> h2,
	> h3 {
		font-weight: 700;
	}

	> h1 {
		font-size: 2em;
	}

	> h2 {
		font-size: 1.3em;
	}

	> h3 {
		font-size: 1.1em;
	}

	> :where(ol, ul) {
		list-style: revert;
		margin-left: 1em;

		li + li {
			margin-top: 0.375em;
		}

		::marker {
			font-weight: 600;
		}
	}
}

@media only screen and (width > 60rem) {
	:root {
		--page-width: min(100vw - 3rem, 80rem);
		--rm-translation: 35vw;
	}

	main {
		margin-top: 2.5rem;
	}
}
